body {
}

header {
  height: 50px;
  width: 100%;
  background-color: rgb(128, 196, 196);
  position: fixed;
}

main {
  background: #fcf007;
  height: 800px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-top: 20px;
}

.casilleroP {
}

.casilleroS {
  display: flex;
  justify-content: center;
  align-items: center;
}

.casillero1 {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  box-shadow: 15px 10px 10px #09465c;
  border-radius: 10px;
}

.ganador {
  font-size: 40px;
  font-weight: bold;
}

footer {
  height: 40px;
  background-color: black;
  color: white;
}

.pie {
  font-size: 20px;
}
